player-connection-mode=Listen
player-connection-guid=2750324411
player-connection-debug=0
player-connection-project-name=fuckinrandom2dgame
player-connection-ip=192.168.40.57
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=58100b3aeaae412f920dd2380001d71a
