player-connection-mode=Listen
player-connection-guid=982502430
player-connection-debug=0
player-connection-project-name=fuckinrandom2dgame
player-connection-ip=192.168.40.57
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b4347ec4adb24a61a0c2248ee09c82b5
